$mainDarkBlue: #1F4A6C;

.navbar {
    .navbar-toggler {
        border: none !important;
        outline: none !important;
    
        &:focus {
            border: none !important;
            outline: none !important;
    
        }
    
        &:active {
            border: none !important;
            outline: none !important;
    
        }
    }

    .navbar-toggler:not(.collapsed) span {
        background-image: none;
    }

    .navbar-toggler:not(.collapsed) span::after{
        content:"\d7";
        font-weight: light;
        font-size:2rem;
        color:grey;
    }
    
}

.header-link-text {
    color: $mainDarkBlue;
}

.header-link-donate {
    color: white;
    background-color: $mainDarkBlue;
}